{% extends 'frontend/base.html' %}
{% load static i18n %}

{% block content %}
  <div class="row mg-top-30">
    <div class="col-12">
        <!-- Hero Content -->
        <div
            class="crancy-hbanner"
            style="background-image: url('../../../static/frontend/img/dash-banner.svg')">
            <div class="crancy-hbanner__content">
                <h2 class="crancy-hbanner__title">
                    Grow your Business <br />
                    to the next Level
                </h2>
                <p class="crancy-hbanner__text">
                    Paths on the filesystem that Sass will <br />
                    look in when locating modules.
                </p>
            </div>
        </div>
        <!-- End Hero Content -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">Active Products</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount">&#8358 {{ active_products_cost|floatformat:0 }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                  {{ active_percent|floatformat:2 }}%
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Total cost of active product</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
    <div class="col-lg-4 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">Expired Products</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount">&#8358 {{ expired_products_cost|floatformat:0 }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                  {{ expired_percent|floatformat:2 }}%
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Total cost of losses</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
    <div class="col-lg-4 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">All Products</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount">&#8358 {{ all_products_cost|floatformat:0 }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                  100%
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Total cost of all product</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
  </div>
{% endblock %}