{% load static i18n %}

<div class="crancy-body-area">
    <!-- crancy Admin Menu -->
    <div class="crancy-smenu" id="CrancyMenu">
        <!-- Admin Menu -->
        <div class="admin-menu">
            <!-- Logo -->
            <div class="logo crancy-sidebar-padding pd-right-0">
                <a class="crancy-logo" href="{% url 'account:dashboard' %}">
                    <!-- Logo for Default -->
                    <img class="crancy-logo__main" src="{% static 'frontend/img/logo.png' %}" alt="#" />
                    <img
                    class="crancy-logo__main--dark"
                    src="{% static 'frontend/img/logo-dark.html' %}"
                    alt="#"
                    />
                    <!-- Logo for Dark Version -->
                    <img
                    class="crancy-logo__main--small"
                    src="{% static 'frontend/img/logo-icon.png' %}"
                    alt="#"
                    />
                    <img
                    class="crancy-logo__main--small--dark"
                    src="{% static 'frontend/img/logo-icon-dark.html' %}"
                    alt="#"
                    />
                </a>
                <div id="crancy__sicon" class="crancy__sicon close-icon">
                    <img src="{% static 'frontend/img/arrow-icon.svg' %}" />
                </div>
            </div>
            <!-- End Logo -->

            <!-- Main Menu -->
            <div class="admin-menu__one crancy-sidebar-padding mg-top-20">
                <h4 class="admin-menu__title">Menu</h4>
                <!-- Nav Menu -->
                <div class="menu-bar">
                    <ul id="CrancyMenu" class="menu-bar__one crancy-dashboard-menu">
                        <li>
                            <a class="collapsed" href="{% url 'account:dashboard' %}"
                            ><span class="menu-bar__text">
                                <span class="crancy-menu-icon crancy-svg-icon__v1">
                                    <svg
                                    class="crancy-svg-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="22"
                                    viewBox="0 0 20 22"
                                    fill="none"
                                    >
                                    <path
                                        d="M14 21V17C14 14.7909 12.2091 13 10 13C7.79086 13 6 14.7909 6 17V21M19 9.15033V16.9668C19 19.1943 17.2091 21 15 21H5C2.79086 21 1 19.1943 1 16.9668V9.15033C1 7.93937 1.53964 6.7925 2.46986 6.02652L7.46986 1.90935C8.9423 0.696886 11.0577 0.696883 12.5301 1.90935L17.5301 6.02652C18.4604 6.7925 19 7.93937 19 9.15033Z"
                                        stroke-width="1.5"
                                    />
                                    </svg>
                                </span>
                                <span class="menu-bar__name">Dashboard</span></span
                            ></a
                            >
                        </li>
                        <li>
                            <a class="collapsed" href="{% url 'product:product_list' %}"
                            ><span class="menu-bar__text">
                                <span class="crancy-menu-icon crancy-svg-icon__v1">
                                    <svg
                                    class="crancy-svg-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="22"
                                    viewBox="0 0 20 22"
                                    fill="none"
                                    >
                                    <path
                                        d="M14 21V17C14 14.7909 12.2091 13 10 13C7.79086 13 6 14.7909 6 17V21M19 9.15033V16.9668C19 19.1943 17.2091 21 15 21H5C2.79086 21 1 19.1943 1 16.9668V9.15033C1 7.93937 1.53964 6.7925 2.46986 6.02652L7.46986 1.90935C8.9423 0.696886 11.0577 0.696883 12.5301 1.90935L17.5301 6.02652C18.4604 6.7925 19 7.93937 19 9.15033Z"
                                        stroke-width="1.5"
                                    />
                                    </svg>
                                </span>
                                <span class="menu-bar__name">Products</span></span
                            ></a
                            >
                        </li>
                        <li>
                            <a class="collapsed" href="{% url 'product:expired_product_list' %}"
                            ><span class="menu-bar__text">
                                <span class="crancy-menu-icon crancy-svg-icon__v1">
                                    <svg
                                    class="crancy-svg-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="22"
                                    viewBox="0 0 20 22"
                                    fill="none"
                                    >
                                    <path
                                        d="M14 21V17C14 14.7909 12.2091 13 10 13C7.79086 13 6 14.7909 6 17V21M19 9.15033V16.9668C19 19.1943 17.2091 21 15 21H5C2.79086 21 1 19.1943 1 16.9668V9.15033C1 7.93937 1.53964 6.7925 2.46986 6.02652L7.46986 1.90935C8.9423 0.696886 11.0577 0.696883 12.5301 1.90935L17.5301 6.02652C18.4604 6.7925 19 7.93937 19 9.15033Z"
                                        stroke-width="1.5"
                                    />
                                    </svg>
                                </span>
                                <span class="menu-bar__name">Expired Products</span></span
                            ></a
                            >
                        </li>
                        <li>
                            <a class="collapsed" href="{% url 'product:batch_list' %}"
                            ><span class="menu-bar__text">
                                <span class="crancy-menu-icon crancy-svg-icon__v1">
                                    <svg
                                    class="crancy-svg-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="22"
                                    viewBox="0 0 20 22"
                                    fill="none"
                                    >
                                    <path
                                        d="M14 21V17C14 14.7909 12.2091 13 10 13C7.79086 13 6 14.7909 6 17V21M19 9.15033V16.9668C19 19.1943 17.2091 21 15 21H5C2.79086 21 1 19.1943 1 16.9668V9.15033C1 7.93937 1.53964 6.7925 2.46986 6.02652L7.46986 1.90935C8.9423 0.696886 11.0577 0.696883 12.5301 1.90935L17.5301 6.02652C18.4604 6.7925 19 7.93937 19 9.15033Z"
                                        stroke-width="1.5"
                                    />
                                    </svg>
                                </span>
                                <span class="menu-bar__name">Batches</span></span
                            ></a
                            >
                        </li>
                        <li>
                            <a class="collapsed" href="{% url 'product:add_batch' %}"
                            ><span class="menu-bar__text">
                                <span class="crancy-menu-icon crancy-svg-icon__v1">
                                    <svg
                                    class="crancy-svg-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="22"
                                    viewBox="0 0 20 22"
                                    fill="none"
                                    >
                                    <path
                                        d="M14 21V17C14 14.7909 12.2091 13 10 13C7.79086 13 6 14.7909 6 17V21M19 9.15033V16.9668C19 19.1943 17.2091 21 15 21H5C2.79086 21 1 19.1943 1 16.9668V9.15033C1 7.93937 1.53964 6.7925 2.46986 6.02652L7.46986 1.90935C8.9423 0.696886 11.0577 0.696883 12.5301 1.90935L17.5301 6.02652C18.4604 6.7925 19 7.93937 19 9.15033Z"
                                        stroke-width="1.5"
                                    />
                                    </svg>
                                </span>
                                <span class="menu-bar__name">Add Batch</span></span
                            ></a
                            >
                        </li>
                        <li>
                            <a class="collapsed" href="{% url 'product:add_product' %}"
                            ><span class="menu-bar__text">
                                <span class="crancy-menu-icon crancy-svg-icon__v1">
                                    <svg
                                    class="crancy-svg-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="22"
                                    viewBox="0 0 20 22"
                                    fill="none"
                                    >
                                    <path
                                        d="M14 21V17C14 14.7909 12.2091 13 10 13C7.79086 13 6 14.7909 6 17V21M19 9.15033V16.9668C19 19.1943 17.2091 21 15 21H5C2.79086 21 1 19.1943 1 16.9668V9.15033C1 7.93937 1.53964 6.7925 2.46986 6.02652L7.46986 1.90935C8.9423 0.696886 11.0577 0.696883 12.5301 1.90935L17.5301 6.02652C18.4604 6.7925 19 7.93937 19 9.15033Z"
                                        stroke-width="1.5"
                                    />
                                    </svg>
                                </span>
                                <span class="menu-bar__name">Add Product</span></span
                            ></a
                            >
                        </li>
                        <li>
                            <a class="collapsed" href="{% url 'product:create_new_user' %}"
                            ><span class="menu-bar__text">
                                <span class="crancy-menu-icon crancy-svg-icon__v1">
                                    <svg
                                    class="crancy-svg-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="22"
                                    viewBox="0 0 20 22"
                                    fill="none"
                                    >
                                    <path
                                        d="M14 21V17C14 14.7909 12.2091 13 10 13C7.79086 13 6 14.7909 6 17V21M19 9.15033V16.9668C19 19.1943 17.2091 21 15 21H5C2.79086 21 1 19.1943 1 16.9668V9.15033C1 7.93937 1.53964 6.7925 2.46986 6.02652L7.46986 1.90935C8.9423 0.696886 11.0577 0.696883 12.5301 1.90935L17.5301 6.02652C18.4604 6.7925 19 7.93937 19 9.15033Z"
                                        stroke-width="1.5"
                                    />
                                    </svg>
                                </span>
                                <span class="menu-bar__name">Add New User</span></span
                            ></a
                            >
                        </li>
                        <li>
                            <a href="{% url 'account:logout' %}" class="collapsed"
                            ><span class="menu-bar__text">
                                <span class="crancy-menu-icon crancy-svg-icon__v1">
                                <svg
                                    class="crancy-svg-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="22"
                                    height="18"
                                    viewBox="0 0 22 18"
                                    fill="none"
                                >
                                    <path
                                    d="M19 11L20.2929 9.70711C20.6834 9.31658 20.6834 8.68342 20.2929 8.29289L19 7"
                                    stroke="#191B23"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    />
                                    <path
                                    d="M20 9H12M5 17C2.79086 17 1 15.2091 1 13V5C1 2.79086 2.79086 1 5 1M5 17C7.20914 17 9 15.2091 9 13V5C9 2.79086 7.20914 1 5 1M5 17H13C15.2091 17 17 15.2091 17 13M5 1H13C15.2091 1 17 2.79086 17 5"
                                    stroke="#191B23"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    />
                                </svg>
                                </span>
                                <span class="menu-bar__name">Logout</span></span
                            ></a
                            >
                        </li>
                    </ul>
                </div>
                <!-- End Nav Menu -->
            </div>
            <!-- End Main Menu -->
        </div>
        <!-- End Admin Menu -->
    </div>
    <!-- End crancy Admin Menu -->

    <!-- Start Header -->
    <header class="crancy-header">
        <div class="container g-0">
            <div class="row g-0">
                <div class="col-12">
                <!-- Dashboard Header -->
                <div class="crancy-header__inner">
                    <div class="crancy-header__middle">
                        <div
                            id="crancy__sicon"
                            class="crancy__sicon close-icon d-none"
                            >
                            <img src="{% static 'frontend/img/arrow-icon.svg' %}" />
                        </div>
                        <div class="crancy-header__heading">
                            <h3 class="crancy-header__title m-0">Dashboard</h3>
                            <p class="crancy-header__text">
                                welcome back {{user.username}}
                            </p>
                        </div>

                        <div class="crancy-header__left">
                            <div class="crancy-header__nav-bottom">
                            <!-- Logo -->
                            <div class="logo crancy-sidebar-padding">
                                <a class="crancy-logo" href="{% url 'account:dashboard' %}">
                                <!-- Logo for Default -->
                                <img
                                    class="crancy-logo__main"
                                    src="{% static 'frontend/img/logo.png' %}"
                                    alt="#"
                                />
                                <img
                                    class="crancy-logo__main--dark"
                                    src="{% static 'frontend/img/logo-dark.html' %}"
                                    alt="#"
                                />
                                <!-- Logo for Dark Version -->
                                <img
                                    class="crancy-logo__main--small"
                                    src="{% static 'frontend/img/logo-icon.png' %}"
                                    alt="#"
                                />
                                <img
                                    class="crancy-logo__main--small--dark"
                                    src="{% static 'frontend/img/logo-icon-dark.html' %}"
                                    alt="#"
                                />
                                </a>
                            </div>
                            </div>
                            <!--  End Logo -->
                        </div>

                        <div class="crancy-header__right">
                            <div class="crancy-header__group">
                            <div class="crancy-header__group-two">
                                <div class="crancy-header__right">
                                
                                <!-- Header Author -->
                                <div class="crancy-header__single">
                                    <a href="#"
                                    ><div class="crancy-header__author-img">
                                        <img src="{% static 'frontend/img/profile-pic.png' %}" alt="#" /></div
                                    ></a>
                                    <!-- crancy Profile Hover -->

                                    <!-- Dropdown List -->
                                    <div
                                    class="crancy-dropdown crancy-dropdown--acount"
                                    >
                                    <div class="crancy-dropdown__hover--inner">
                                        <ul class="crancy-dmenu">
                                        <li>
                                            <a href="#">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                d="M12.1202 12.78C12.0502 12.77 11.9602 12.77 11.8802 12.78C10.1202 12.72 8.72021 11.28 8.72021 9.50998C8.72021 7.69998 10.1802 6.22998 12.0002 6.22998C13.8102 6.22998 15.2802 7.69998 15.2802 9.50998C15.2702 11.28 13.8802 12.72 12.1202 12.78Z"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                />
                                                <path
                                                d="M18.7398 19.3801C16.9598 21.0101 14.5998 22.0001 11.9998 22.0001C9.39977 22.0001 7.03977 21.0101 5.25977 19.3801C5.35977 18.4401 5.95977 17.5201 7.02977 16.8001C9.76977 14.9801 14.2498 14.9801 16.9698 16.8001C18.0398 17.5201 18.6398 18.4401 18.7398 19.3801Z"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                />
                                                <path
                                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                />
                                            </svg>
                                            My Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                d="M15 10L13.7071 11.2929C13.3166 11.6834 13.3166 12.3166 13.7071 12.7071L15 14M14 12L22 12M6 20C3.79086 20 2 18.2091 2 16V8C2 5.79086 3.79086 4 6 4M6 20C8.20914 20 10 18.2091 10 16V8C10 5.79086 8.20914 4 6 4M6 20H14C16.2091 20 18 18.2091 18 16M6 4H14C16.2091 4 18 5.79086 18 8"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                />
                                            </svg>
                                            Logout
                                            </a>
                                        </li>
                                        </ul>
                                    </div>
                                    </div>
                                    <!-- End Dropdown List -->
                                </div>
                                <!-- End Header Author -->
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
</div>

  